@using Microsoft.AspNetCore.Identity;
@using WEB_053502_KHARLAP.Entities;
@inject SignInManager<ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
<div class="navbar-nav1">
    <a asp-controller="Cart" asp-action="Index" class="navbar-text">
        00,0 руб <i class="fa fa-shopping-cart nav-color"></i> (0)
    </a>
</div>
<div class="menu">
    <div class="dropdown ml-4 nav-color ">
        <div class="dropdown-toggle" id="dropdownMenuButton"
             data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <img src="images/avatar.jpg" width="30"
                 alt="User" class="rounded" />
        </div>
        <div class="dropdown-menu"
             aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item-text">
                <img src="images/avatar.jpg" width="50"
                     alt="User" class="rounded" />
                    @User.Identity.Name
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-controller="Product" aspaction="UserProducts">Мои товары</a>

                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnurl="@ViewContext.HttpContext.Request.Path" method="post">
                    <button type="submit" class="dropdown-item">Log off</button>
                </form>
        </div>
    </div>
</div>
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li>
            <a class="nav-item nav-link"
           asp-area="Identity"
           asp-page="/Account/Login">
                Войти
            </a>
        </li>
        <li>
            <a class="nav-item nav-link"
           asp-area="Identity"
           asp-page="/Account/Register">
                Зарегистрироваться
            </a>
        </li>
    </ul>
}